################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureQueue/bin/Debug
/AzureQueue/obj/Debug
/AzureQueue/obj/Debug
/AzureTables/bin/Debug
/AzureTables/bin/Debug
